*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    background-color: bisque;
}

main{

    height: 100vh;
}






.main-container {
    max-width: 50rem;
    max-height: 31.25rem;
    width: auto;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    border: 1px solid black;

  }


 .header-container{
    height: 12.5rem;
    width: 100%;
    border: 1px solid black;
    margin: 1rem;

 } 


















/* .cuadro-contenedor {
    max-width: 800px;
    max-height: 500px;
    margin-left: 1rem;
    margin-right: 1rem;

  }
  

.cuadro{
    width: 100%;
    height: 500px;

    background-color: #f2f2f2;
  }
   */